* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Helvetica, sans-serif;
}

/* Brisemo stajling buttona */
button, input[type="submit"], input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

body {
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    background-color: white;
}

/* Leva strana, navbar */

body > #navbar {
    flex-basis: 20%;
    border-right: 10px solid crimson;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#navbar .item {
    color: black;
    height: 100px;
    font-size: 48px;
    align-self: stretch;
    background-color: white;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

#navbar .item:disabled {
    background-color: crimson;
    color: white;
}

#navbar .item:hover {
    background-color: crimson;
    color: white;
}

/* Desna strana, content */

body > #content {
    flex-basis: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto;
    gap: 20px;
}

#content img {
    width: 480px;
    height: 320px;
}

#content .text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    border: 1px solid crimson;
    color: black;
    gap: 5px;
    width: 800px;
    text-align: center;

}

.text-box > h1 {
    padding: 5px;
    background-color: crimson;
    color: white;
    align-self: stretch;
    text-align: center;
}
.text-box > p {
    padding: 5px;
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: center;
}

#content .form {
    display: flex;
    border: 1px solid crimson;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 800px;
    gap: 2px;
}

.form label {
    background-color: crimson;
    color: white;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-weight: bold;
}

.form input {
    background-color: white;
    height: 36px;
    align-self: stretch;
    text-align: center;
    font-size: large;
}

.form #input-btn {
    background-color: crimson;
    color: white;
    font-size: 36px;
    text-align: center;
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

/* Desna strana, biblioteka */

body > #library {
    flex-basis: 80%;
    display: flex;
    flex-wrap: nowrap;
}

#library > #filter-section {
    flex-basis: 20%;
    border-right: 10px solid crimson;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    overflow: auto;
}

#filter-section .filter {
    display: flex;
    flex-direction: column;
    border: 1px solid crimson;
    align-self: stretch;
    gap: 10px;
    padding-bottom: 10px;
    overflow: auto;
    height: 80px;
    margin: 0 10px;
}

#filter-section .label {
    background-color: crimson;
    color: white;
    font-weight: bold;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

#filter-section input {
    margin: 0 10px;
    text-align: center;
}

#filter-section select {
    text-align-last: center;
    margin: 0 10px;
}

#library > #game-section {
    flex-basis: 80%;
    flex-direction: column;
    display: flex;
    align-items: center;
    padding: 10px 10px;
    overflow: auto;
}

#game-section #game-table {
    align-self: stretch;
    border: 1px solid crimson;
    border-collapse: collapse;
    text-align: center;
}

#game-table th {
    background-color: crimson;
    color: white;
    font-size: larger;
}

#game-table td {
    border: 1px solid crimson;
    font-size: larger;
}

/* Desna strana, galerija */

body > #gallery {
    flex-basis: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    overflow: auto;
    padding: 50px 0;
}

#gallery > .pic-box {
    flex-basis: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid crimson;
    flex-direction: column;
    gap: 10px;
}

#gallery > .pic-box > img {
    width: 200px;
    height: 250px;
}

#gallery > .pic-box > h2 {
    padding-top: 2px;
    background-color: crimson;
    color: white;
    align-self: stretch;
    text-align: center;
}

/* Deo za yt player */

#yt-player {
    border: 2px solid crimson;
    width: 1280px;
    height: 720px;
}

#yt-controls {
    display: flex;
    gap: 5px;
    height: 50px;
    font-size: 36px;
    color: white;
}

#yt-controls #title {
    width: 1174px;
    background-color: crimson;
    display: flex;
    align-items: center;
    justify-content: center;
}

#yt-controls .vid-control {
    width: 50px;
    background-color: crimson;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* deo za snake game */

#snake-game {
    border: 2px solid crimson;
}