* {
    margin: 0;
    padding: 0;
}

/* Brisemo stajling buttona */
button, input[type="submit"], input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

body {
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    background-color: white;
}

body > #navbar {
    flex-basis: 20%;
    border-right: 10px solid crimson;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#navbar .item {
    color: black;
    height: 100px;
    font-size: 48px;
    align-self: stretch;
    background-color: white;
    text-transform: uppercase;
}

#navbar .item:disabled {
    background-color: crimson;
    color: white;
    box-shadow: 5px black;
}

#navbar .item:hover {
    background-color: crimson;
    color: white;
}

body > #content {
    flex-basis: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#content .text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    border: 1px solid crimson;
    color: black;
    gap: 5px;

}

.text-box > h1 {
    padding: 5px;
    background-color: crimson;
    color: white;
    align-self: stretch;
    text-align: center;
}
.text-box > p {
    padding: 5px;
    text-align: center;
    justify-content: center;
}